<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/films"></ion-back-button>
    </ion-buttons>
    <ion-title>{{film?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="searching" class="spinner-container">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
  <div *ngIf="isDataAvailable">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img alt="{{film.poster_path}}" src="https://image.tmdb.org/t/p/w500{{film.poster_path}}" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h3 class="ion-text-center">{{film.tagline}}</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-chip>
            <ion-label>{{film.release_date}}</ion-label>
          </ion-chip>
          <ion-chip>
            <ion-label>{{film.original_language}}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{film.overview}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
