<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/films"></ion-back-button>
    </ion-buttons>
    <ion-title>{{film?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">{{film?.title}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          {{film?.overview}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
